/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --verydarkblue: hsl(212, 21%, 14%);
  --darkgrayishblue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --darkcyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--cream);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: none;
  border-radius: 1rem;
  max-width: 46rem;
  background-color: var(--white);
  overflow: hidden;
}

/* ? Flex basis instead of flex-grow */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  /* flex: 0 0 50%; */
  /* text-wrap: wrap; */
}

.image-container {
  min-width: 100%;
}

.image {
  width: 100%;
}

.product-type {
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 1rem;
  font-family: "Montseratt", sans-serif;
  color: var(--darkgrayishblue);
}

.product-title {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.7rem;
}

.product-description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.05rem;
  color: var(--darkgrayishblue)
}

.price-container {
  display: flex;
  align-items: center;
}

.price-current {
  font-size: 2.5rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: var(--darkcyan);
  margin-right: 1.6rem;
}

.price-previous {
  color: var(--darkgrayishblue);
  font-size: 1.08rem;
  font-family: "Montserrat", sans-serif;
  /* letter-spacing: 0; */
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkcyan);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1.0rem;
  border: none;
  border-radius: .7rem;
  cursor: pointer;
}

.cart-button:hover {
  background-color: var(--verydarkblue);
}

.cart-text {
  margin-left: 0.5rem;
}

@media screen and (max-width: 765px) {
  :root {
    font-size: 12px;
  }
  .card {
    display: flex;
    flex-direction: column;
    max-width: 29rem;
  }
  .text-container {
    gap: 1rem;
  }
} 
